---
export const prerender = false;

import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import { fetchContent } from "../../lib/content";
import SocialFilters from "../../components/social/Filters";

const { source, time, order } = Astro.params;

const content = await fetchContent(source == "all" || !source ? [] : [source]);

export function getStaticPaths() {
  return [
    { params: { source: "reddit" } },
    { params: { source: "youtube" } },
    { params: { source: "news" } },
    { params: { source: "twitter" } },
    { params: { source: "tiktok" } },
    { params: { source: "instagram" } },
    { params: { source: "all" } },
    { params: { source: undefined } },
  ];
}
---

<Layout title="Home">
  <section class="relative mx-auto max-w-screen-2xl px-4">
    <div class="mb-2 mt-8 flex flex-col items-center">
      <h3 class="flex-auto text-center font-display text-4xl font-bold text-white">
        S<img src="/portal.svg" class="inline h-[0.7em]" aria-hidden="true" alt="o" />cial Feed
      </h3>
      <p class="my-4 max-w-prose text-center text-lg">Everything everywhere posted about Stormgate, all at once</p>
    </div>
    <SocialFilters client:load source={source} time={time} order={order} />
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      {content.map((c) => <Card data={c} />)}
    </div>
  </section>
</Layout>
