---
export const prerender = false
import PlayerLayout from "../../../layouts/PlayerLayout.astro"
import { MatchHistory } from "../../../components/widgets/MatchHistory.tsx"
import { PlayersApi, Race } from "../../../lib/api"
import Section from "../../../components/layout/Section.astro"
import { getDataOrErrorResponse } from "../../../lib/utils"

const { page = 1, faction } = Object.fromEntries(new URL(Astro.request.url).searchParams.entries())

const playerId = Astro.params.id!

const [[player], error] = await getDataOrErrorResponse(PlayersApi.getPlayer({ playerId }))
if (error) return error
---

<PlayerLayout player={player}>
  <Section>
    <div class="w-full">
      <MatchHistory playerId={playerId} page={Number(page)} faction={faction as Race} client:load />
    </div>
  </Section>
</PlayerLayout>
