---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import { fetchContent } from "../../lib/content";
const { source } = Astro.params;
export const prerender = false;

const content = await fetchContent(source == "all" || !source ? [] : [source]);

export function getStaticPaths() {
  return [
    { params: { source: "reddit" } },
    { params: { source: "youtube" } },
    { params: { source: "news" } },
    { params: { source: "twitter" } },
    { params: { source: "tiktok" } },
    { params: { source: "instagram" } },
    { params: { source: "all" } },
    { params: { source: undefined } },
  ];
}
---

<Layout title="Home">
  <section class="max-w-screen-2xl mx-auto px-4 relative">
    <div class="flex flex-col items-center my-8">
      <h3 class="font-bold font-display text-white text-4xl flex-auto text-center">
        The fireh<img src="/portal.svg" class="inline h-[0.7em]" aria-hidden="true" alt="o" />se
      </h3>
      <p class="max-w-prose text-center my-4 text-lg">Everything everywhere posted about Stormgate, all at once</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
      {content.map((c) => <Card data={c} />)}
    </div>
  </section>
</Layout>
