---
import { formatNumber } from "../../lib/utils";
import type { RedditContent } from "../../lib/content";

export interface Props {
  data: RedditContent;
}

const { data } = Astro.props;
---

<a class="inline-flex items-center text-orange-400">
  <i class="ti ti-arrow-up mr-1 w-4"></i>
  {formatNumber(data.metadata?.upvotes_count - data.metadata?.downvotes_count)}
</a>
<a
  class="inline-flex items-center truncate"
  href={`https://reddit.com/r/${data.author_url}`}
  target="_blank"
  rel="noopener ugc"
>
  <img src="/content/websites/reddit.com.png" class="mr-2 h-3" />
  r/{data.author}
</a>
