---
import { formatNumber } from "../../lib/utils";
import type { RedditContent } from "../../lib/content";

export interface Props {
  data: RedditContent;
}

const { data } = Astro.props;
---

<a class="text-orange-400 inline-flex items-center">
  <i class="ti ti-arrow-up w-4 mr-1"></i>
  {formatNumber(data.metadata?.upvotes_count - data.metadata?.downvotes_count)}
</a>
<a
  class="truncate inline-flex items-center"
  href={`https://reddit.com/r/${data.author_url}`}
  target="_blank"
  rel="noopener ugc"
>
  <img src="/content/websites/reddit.com.png" class="h-3 mr-2" />
  r/{data.author}
</a>
