---
import { formatNumber } from "../../lib/utils"
import type { TwitterContent } from "../../lib/content"
export interface Props {
  data: TwitterContent
}

const { data } = Astro.props
---

<a class="inline-flex items-center text-orange-400">
  <i class="ti ti-heart mr-1 w-4"></i>
  {formatNumber(data.metadata?.likes_count)}
</a>
<a class="inline-flex items-center text-orange-400">
  <i class="ti ti-repeat mr-1 w-4"></i>
  {formatNumber(data.metadata?.retweets_count)}
</a>
<a class="inline-flex items-center truncate">
  <img src="/content/websites/twitter.com.png" class="mr-2 h-3" />
  {data.author}
</a>
