---
import { formatNumber } from "../../lib/utils";
import type { TwitterContent } from "../../lib/content";
export interface Props {
  data: TwitterContent;
}

const { data } = Astro.props;
---

<a class="text-orange-400 inline-flex items-center">
  <i class="ti ti-heart w-4 mr-1"></i>
  {formatNumber(data.metadata?.likes_count)}
</a>
<a class="text-orange-400 inline-flex items-center">
  <i class="ti ti-repeat w-4 mr-1"></i>
  {formatNumber(data.metadata?.retweets_count)}
</a>
<a class="truncate inline-flex items-center">
  <img src="/content/websites/twitter.com.png" class="h-3 mr-2" />
  {data.author}
</a>
