---
export const prerender = false
import Layout from "../../layouts/Layout.astro"
import Widget from "../../components/Widget.astro"
import hero from "../../assets/game/vanguard-base-hero.jpg"
import { getLeaderboard } from "../../lib/_api"
import { Image } from "astro:assets"
import Leaderboard from "../../components/widgets/Leaderboard.astro"
const leaderboard = await getLeaderboard(Astro.params.mode!)

const perFaction = leaderboard.entries.reduce((factions, entry) => {
  factions[entry.race] ??= 0
  factions[entry.race]++
  return factions
}, {} as Record<string, number>)
---

<Layout title="Leaderboard">
  <div class="fixed top-0 -z-0 h-[max(800px,90vh)] w-full">
    <Image src={hero} alt="" class="absolute h-full w-full object-cover" />
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-gray-950"></div>
  </div>
  <section class="relative mx-auto max-w-screen-md px-4 py-8">
    <Widget title="Global Leaderboard" label="Closed Beta Ranked">
      <Leaderboard entries={leaderboard.entries} />
    </Widget>
  </section>
</Layout>
