---
import Card from "./Base.astro";
import { Icon } from "astro-icon";
import { formatNumber } from "../../lib/utils";
import type { SourceData } from "../../pages/debug/api/[source].astro";
export interface Props {
  card: SourceData<"twitter", TwitterData>;
}

export type TwitterData = {
  likes_count: number;
  retweets_count: number;
  replies_count: number;
};

const { card } = Astro.props;
---

<Card card={card}>
  <a class="text-orange-400 inline-flex items-center">
    <Icon name="tabler:heart" class="w-4 mr-1" />
    {formatNumber(card.metadata?.likes_count)}
  </a>
  {
    /*<span class="inline-flex items-center">
          <Icon name="tabler:eye" class="w-4 mr-1" />
          {formatNumber(data.statistics.viewCount)}
        </span>*/
  }
  <a class="truncate inline-flex items-center">
    <img src="/content/websites/twitter.com.png" class="h-3 mr-2" />
    {card.author}
  </a>
</Card>
