---
import Svg from "@jasikpark/astro-svg-loader"
---

<footer class="mt-4 border-t border-gray-900 py-32 text-center md:mt-8">
  <div class="mx-auto">
    <nav class="flex columns-2 flex-wrap justify-center gap-x-8 gap-y-2 pb-6 sm:space-x-12" aria-label="Footer">
      <a href="/api" class="text-sm leading-6 text-gray-100 hover:text-white">API</a>
      <a href="/privacy" class="text-sm leading-6 text-gray-100 hover:text-white">Privacy</a>
      <a href="/about" class="text-sm leading-6 text-gray-100 hover:text-white">About</a>
      <a
        href="https://twitter.com/StormgateWorld"
        target="_blank"
        class="text-sm leading-6 text-gray-100 hover:text-white"
      >
        <i class="ti ti-brand-twitter-filled"></i>
        Twitter
      </a>
      <a href="/rss.xml" target="_blank" class="text-sm leading-6 text-gray-100 hover:text-white">
        <i class="ti ti-rss"></i>
        RSS Feed
      </a>
    </nav>
  </div>
  <div class="flex flex-col items-center gap-4">
    <p class="text-center text-sm leading-5 text-gray-400">
      Stormgate World is a fan-made website and not affiliated with
      <a href="https://playstormgate.com/" class="hover:underline">Stormgate</a>
      or
      <a href="https://frostgiant.com/" class="hover:underline">Frost Giant Studios</a>.
    </p>
    <div class="flex flex-auto justify-center whitespace-nowrap text-gray-600 lg:flex-none lg:justify-end">
      <span>Made by</span>
      <a href="https://casuals.co" class="text-gray-500 hover:text-gray-300" target="_blank" rel="noopener">
        <Svg src={import("../../assets/thecasuals.svg?raw")} class="-mt-1 ml-1 inline-block h-4 fill-current" />
      </a>
    </div>
  </div>
</footer>

<div
  class="fixed bottom-2 left-2 right-2 z-40 hidden max-w-2xl flex-col rounded-lg border border-gray-700 bg-gray-900/70 opacity-100 shadow-2xl backdrop-blur-xl duration-300 animate-in fade-in slide-in-from-bottom-full md:flex-row lg:bottom-4 lg:left-4"
  id="consent-banner"
>
  <div class="flex-auto border-b border-gray-800 p-5 leading-snug text-gray-100 md:border-b-0 md:border-r">
    <p class="inline-block text-sm font-semibold text-gray-200 md:text-base">Can we track your activity on our site?</p>
    <p class="mt-2 inline-block text-sm text-gray-300">
      We use cookies and other technologies to measure traffic. <a href="/privacy" class="text-gray-200"
        >Privacy Policy</a
      >.
    </p>
  </div>
  <div class="flex flex-row md:flex-col">
    <button
      class="order-2 min-w-[120px] basis-1/2 border-l border-gray-800 p-2 text-green-500 hover:bg-gray-800/50 md:order-none md:border-b md:border-l-0"
      id="accept-button"
    >
      Accept
    </button>
    <button class="min-w-[120px] basis-1/2 p-2 text-red-500 hover:bg-gray-800/50" id="reject-button">Reject</button>
  </div>
</div>
<!-- order of scripts matter -->
<script lang="js">
  const accept = document.getElementById("accept-button")
  const reject = document.getElementById("reject-button")
  const banner = document.getElementById("consent-banner")

  function animateIn() {
    banner.classList.add("flex")
    banner.classList.remove("hidden")
  }

  function animateOut() {
    banner.classList.remove("animate-in", "opacity-100")
    banner.classList.add("translate-y-full", "opacity-0")
    banner.ontransitionend = () => {
      banner.classList.add("hidden")
      banner.classList.remove("flex")
    }
  }

  function setConsent(consent) {
    localStorage.setItem("consent", consent.toString())
    localStorage.setItem("consentDate", new Date().toISOString())
    if (consent) grantAnalyticsConsent()
    animateOut()
  }

  accept.addEventListener("click", () => setConsent(true))
  reject.addEventListener("click", () => setConsent(false))

  localStorage.setItem("consentDate", new Date().toISOString())
  if (localStorage.getItem("consentDate") !== null) {
    // If consent was given before December 1, 2023, reset consent
    // Update this date whenever you update your privacy policy or tracking
    const consentOutdated = new Date(localStorage.getItem("consentDate")).valueOf() < new Date("2023-12-01").valueOf()
    const rejectedConsent7DaysAgo =
      localStorage.getItem("consent") === "false" &&
      new Date(localStorage.getItem("consentDate")).valueOf() < new Date().setDate(new Date().getDate() - 7).valueOf()
    if (consentOutdated || rejectedConsent7DaysAgo) {
      localStorage.removeItem("consent")
      localStorage.removeItem("consentDate")
    }
  }

  if (localStorage.getItem("consent") === null) animateIn()
  if (localStorage.getItem("consent") === "true") grantAnalyticsConsent()

  // Google Analytics Consent Mode
  // https://developers.google.com/tag-platform/security/guides/consent
  // Define dataLayer and the gtag function.
  window.dataLayer = window.dataLayer || []
  function gtag() {
    window.dataLayer = window.dataLayer || []
    window.dataLayer.push(arguments)
  }

  // Set default consent to 'denied' as a placeholder
  // Determine actual values based on your own requirements
  gtag("consent", "default", {
    ad_storage: "denied",
    ad_user_data: "denied",
    ad_personalization: "denied",
    analytics_storage: "denied",
  })

  function grantAnalyticsConsent() {
    gtag("consent", "update", {
      analytics_storage: "granted",
    })
  }
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V5SFFY7NM1"></script>
<script lang="js">
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }

  gtag("js", new Date())
  gtag("config", "G-X3X66ZHX6W")
</script>
