---
import type { ImageMetadata } from "astro"
import { getImage } from "astro:assets"
import HeaderContent from "./HeaderContent.astro"

interface Props {
  backdropImage?: string | ImageMetadata | null
  title?: string
  section?: string
}

const { backdropImage, section, title } = Astro.props
const isUrl = typeof backdropImage === "string"
const imageUrl = backdropImage ? (isUrl ? backdropImage : (await getImage(backdropImage)).src) : null
---

<div
  class="relative -mt-20 border-b border-white/5 bg-gradient-to-r from-gray-900 via-gray-800 to-gray-900 pt-20 [--tw-gradient-via-position:40%] md:-mt-16 md:pt-16"
>
  {
    backdropImage && (
      <div class="pointer-events-none absolute inset-0 overflow-hidden">
        <div
          class="h-full w-full bg-cover bg-center opacity-40 mix-blend-lighten blur-3xl brightness-50 saturate-150 "
          style={`background-image: url(${imageUrl})`}
        />
      </div>
    )
  }
  {(section || title) && <HeaderContent section={section} title={title} />}
  <slot />
</div>
