---
import Svg from "@jasikpark/astro-svg-loader"
import { styles } from "../../lib/theme"

type MetaItem = { label: string; icon?: Promise<typeof import("*.svg?raw")> }
interface Props {
  items?: MetaItem[]
}
---

<div class="bg-black/20">
  <div
    class:list={[
      styles.layout.container,
      styles.layout.containerPadding,
      "flex flex-wrap items-center gap-y-4 gap-4 md:gap-8 py-4 mix-blend-lighten",
    ]}
  >
    {
      Astro.props.items?.map(({ label, icon }) => (
        <div class="flex items-center gap-2">
          {icon && <Svg class="h-4 w-4 text-white opacity-20 md:h-5 md:w-5" src={icon} />}
          <span class="text-xs font-bold text-white/30 md:text-sm">{label}</span>
        </div>
      ))
    }
  </div>
</div>
