---
import { styles } from "../../lib/theme"

type MetaItem = { label: string; icon?: Promise<typeof import("*.svg?raw")> }
interface Props {
  items?: MetaItem[]
}

const items = await Promise.all(Astro.props.items ? Astro.props.items.map(async (item) => {
  return {
    ...item,
    icon: item.icon ? (await item.icon)?.default : undefined
  }
}) : [])

---

<div class="bg-black/35">
  <div class:list={[styles.layout.container, styles.layout.containerPadding, "flex flex-wrap items-center gap-y-4 gap-4 md:gap-8 py-4"]}>
    {
      items?.map(({ label, icon }) => (
        <div class="flex items-center gap-2">
          {icon ? <span class="text-white opacity-50  *:h-5 *:w-5" set:html={icon} /> : <></>}
          <span class="text-white/60 text-sm font-bold">{label}</span>
        </div>
      ))
    }
  </div>
</div>
