---
import { styles } from "../../lib/theme"

interface Props {
  section?: string
  title?: string
}

const { title, section } = Astro.props
---

<div class:list={[styles.layout.container, styles.layout.containerPadding, "relative"]}>
  <div class="flex items-center py-4">
    {
      Astro.slots.has("left") && (
        <div>
          <slot name="left" />
        </div>
      )
    }
    <div class="flex-auto py-4">
      {section && <p class="text-base font-bold text-white/60">{section}</p>}
      {title && <h1 class="text-xl font-black text-white/90 md:text-3xl">{title}</h1>}
      <slot />
    </div>
    {
      Astro.slots.has("right") && (
        <div>
          <slot name="right" />
        </div>
      )
    }
  </div>
</div>
