---
import { styles } from "../../lib/theme"

interface Props {
  section?: string
  title?: string
}

const { title, section } = Astro.props
---

<div class:list={[styles.layout.container, styles.layout.containerPadding]}>
  <div class="py-12">
    {section && <p class="mb-2 text-base font-bold text-white/60">{section}</p>}
    {title && <h1 class="text-xl font-black text-white/90 md:text-3xl">{title}</h1>}
    <slot />
  </div>
</div>
