---
// export const prerender = false

import { useStoryblokApi } from "@storyblok/astro"
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"

import Layout from "../../../layouts/Layout.astro"

export async function getStaticPaths() {
  const sbApi = useStoryblokApi()

  const { data } = await sbApi.get("cdn/stories", {
    content_type: "blog-post",
    version: import.meta.env.DEV ? "draft" : "published",
  })

  console.log(data)

  const stories = Object.values(data.stories)

  return stories.map((story: any) => {
    return {
      params: { slug: story.full_slug },
    }
  })
}

const sbApi = useStoryblokApi()
const { slug } = Astro.params
const { data } = await sbApi.get(`cdn/stories/${slug}`, {
  version: import.meta.env.DEV ? "draft" : "published",
})

const story = data.story
---

<Layout title={story.content.headline}>
  <a href="/debug/storyblok">Back</a>

  <StoryblokComponent blok={story.content} />
</Layout>
