---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Frost Giant API Restrictions">
  <div
    class="m-2 max-w-screen-md space-y-4 rounded-lg border border-yellow-600 bg-yellow-500/15 p-4 leading-relaxed text-yellow-50 md:mx-auto md:my-12 md:p-8"
  >
    <h1 class="text-xl font-bold leading-normal text-yellow-400 md:text-3xl">
      Frost Giant Studios no longer provides the community access to Match Data
    </h1>
    <p>
      Since March 11, 2024, Frost Giant Studios no longer grants Stormgate World and the community API access to
      Matches, Win-Rates, and other useful data. The <a
        href="https://playstormgate.com/faq"
        target="_blank"
        class="font-bold underline">reason stated</a
      > is that Frost Giant Studios is anticipating the release of their own (paid and free) learning tools and does not
      want to report individual match outcomes externally. We are big proponents of having basic match data available to
      the community, but we respect their decision and look forward to the release of these tools post-Early Access.
    </p>
    <p>As a result, the following features are no longer available / being updated:</p>
    <ul class="ml-8 list-disc">
      <li>Global (Balance) Stats and Faction Win-Rates</li>
      <li>Player Match History</li>
      <li>Player Win-Rates and Statistics</li>
      <li>Streamer Overlay</li>
      <li>The Community API</li>
    </ul>
    <p>Additionally, community projects that rely on our API will no longer function properly:</p>
    <ul class="ml-8 list-disc">
      <li>Replay Renamer</li>
      <li>B.O.B. Discord Bot</li>
      <li>Luminite.gg</li>
    </ul>
    <p>
      The 1v1 leaderboard will likely remain available, but it is unclear if this would include win-rates and ranking.
    </p>
    <p>
      While we are extremely disappointed by this decision and consider it a step backward, we remain hopeful that
      someday in the future this data may become available again. We encourage the community to make their voice heard,
      and share your wishes around data access, APIs, and community tools known with Frost Giant.
    </p>
    <p>
      We want to thank the community for their support, and in particular the many contributors that have helped build
      Stormgate World into what it is today. We are proud of the work we have done and the community we have built, and
      we are excited to continue to support the community in any way we can.
    </p>
    <p>
      In the meantime, feel free to check out our other RTS projects <a
        href="https://aoe4world.com"
        target="_blank"
        class="font-bold underline">AoE4 World</a
      > and
      <a href="https://zerospaceworld.com" target="_blank" class="font-bold underline">Zero Space World</a>.
    </p>
    <p>- The Stormgate World Team</p>
  </div>
</Layout>
