---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Frost Giant API Restrictions">
  <div
    class="m-2 max-w-screen-md space-y-4 rounded-lg border border-yellow-600 bg-yellow-500/15 p-4 leading-relaxed text-yellow-50 md:mx-auto md:my-12 md:p-8"
  >
    <h1 class="text-xl font-bold leading-normal text-yellow-400 md:text-3xl">
        We've discontinued the Leaderboard, Player Profiles and API
    </h1>
    <p>
        Effective March 11, Frost Giant Studios began work on a new data project and official APIs developed in collaboration with Untapped.gg. As a result, our temporary data integration with Frost Giant comes to an end, and we’re no longer able to present Match Data and Player Profiles and will discontinue our unofficial Community API.
    </p>
    <p>
        The new Official API is in an early stage, and the data and rate limits currently available are insufficient to the features we have developed. We have made the decision to pause our plans for an open-source, user-friendly, and community-driven platform while we follow how the Official APIs evolve.
        </p>
    <p>
        We want to thank Frost Giant for their collaboration and the opportunity to play a major part during the Next Fest Playtest. We’re proud of what we created, and amazed by the community’s contributions and support. We’ll continue to partner with FGS behind the scenes and are excited for the future of Stormgate!
       
    </p>
    <p>- The Stormgate World Team</p>
    <p>
        View the <a
        href="https://stormgate.untapped.gg/en/leaderboard"
        target="_blank"
        class="font-bold underline">Official Leaderboard </a
      > and
      <a href="https://stormgate.untapped.gg/en/docs/api" target="_blank" class="font-bold underline">Official API</a> on stormgate.untapped.gg.
    </p>
  </div>
</Layout>
