---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import type { ToolContent } from "../lib/content"
import luminiteImage from "../assets/content/luminite.png"
import replayRenamerImage from "../assets/content/replay-renamer.png"

const toolsContent: ToolContent[] = [
  {
    title: "Streamer Overlay",
    source: "tool",
    description: "A tool for streamers to display information about ongoing games in their broadcasts.",
    url: "https://overlay.stormgateworld.com/",
    image_url: "https://raw.githubusercontent.com/stormgateworld/overlay/main/Preview.png",
    metadata: { external: false, tags: ["Overlay"] },
  },
  {
    title: "Luminite.gg",
    source: "tool",
    description: "Discover and share build orders. View unit information and ladder stats.",
    url: "https://luminite.gg/",
    image_url: luminiteImage.src,
    metadata: { external: true, tags: ["Build orders", "Stats"] },
  },
  {
    title: "Replay Renamer",
    source: "tool",
    description: "Python script to rename replays.",
    url: "https://gist.github.com/acarapetis/b5e9cf199ea2a468ace2f756ac287268",
    image_url: replayRenamerImage.src,
    metadata: { external: true, tags: ["Replays"] },
  },
  },
]
---

<Layout title="Tools">
  <div class="w-full border-b border-gray-700/50 bg-gray-800/50 backdrop-blur-lg">
    <div class="mx-auto flex max-w-screen-lg flex-wrap items-center justify-between gap-4 px-4 py-8 md:px-7">
      <div>
        <p class="font-bold text-gray-500">Community</p>
        <h1 class="flex-auto text-2xl font-bold text-white">Tools and Projects</h1>
      </div>
    </div>
  </div>
  <div class="mx-auto w-full max-w-screen-lg p-4 md:px-7 md:py-8">
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {toolsContent.map((c) => <Card data={c} />)}
    </div>
  </div>
</Layout>
