---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import type { ToolContent } from "../lib/content"
import luminiteImage from "../assets/content/luminite.png"
import replayRenamerImage from "../assets/content/replay-renamer.png"

const toolsContent: ToolContent[] = [
  {
    title: "Streamer Overlay",
    source: "tool",
    description: "A tool for streamers to display information about ongoing games in their broadcasts.",
    url: "https://overlay.stormgateworld.com/",
    image_url: "https://raw.githubusercontent.com/stormgateworld/overlay/main/Preview.png",
    metadata: { tags: ["Overlay", "By SGW"] },
  },
  {
    title: "Luminite.gg",
    source: "tool",
    description: "Discover and share build orders. View unit information and ladder stats.",
    url: "https://luminite.gg/",
    image_url: luminiteImage.src,
    metadata: { tags: ["Build orders", "Stats", "External"] },
  },
  {
    title: "Replay Renamer",
    source: "tool",
    description: "Python script to rename replays.",
    url: "https://gist.github.com/acarapetis/b5e9cf199ea2a468ace2f756ac287268",
    image_url: replayRenamerImage.src,
    metadata: { tags: ["Replays", "External"] },
  },
]
---

<Layout title="Tools">
  <div class="w-full bg-gray-800/50 backdrop-blur-lg border-b border-gray-700/50">
    <div class="mx-auto max-w-screen-lg px-4 lg:px-0 py-8 gap-4 flex items-center flex-wrap justify-between">
      <div>
        <p class="font-bold text-gray-500">Community</p>
        <h1 class="text-2xl text-white font-bold flex-auto">Tools and Projects</h1>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-screen-lg w-full py-4 md:py-8 px-8 lg:px-0">
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {toolsContent.map((c) => <Card data={c} />)}
    </div>
  </div>
</Layout>
