---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import type { ToolContent } from "../lib/content"
import luminiteImage from "../assets/content/luminite.png"
import replayRenamerImage from "../assets/content/replay-renamer.png"
import bobBotImage from "../assets/content/bob-bot.png"
import Header from "../components/layout/Header.astro"
import Section from "../components/layout/Section.astro"

const toolsContent: ToolContent[] = [
  {
    title: "Streamer Overlay",
    source: "tool",
    description: "A tool for streamers to display information about ongoing games in their broadcasts.",
    url: "https://overlay.stormgateworld.com/",
    image_url: "https://raw.githubusercontent.com/stormgateworld/overlay/main/Preview.png",
    metadata: { external: false, tags: ["Overlay"] },
  },
  {
    title: "Luminite.gg",
    source: "tool",
    description: "Discover and share build orders. View unit information and ladder stats.",
    url: "https://luminite.gg/",
    image_url: luminiteImage.src,
    metadata: { external: true, tags: ["Build orders", "Stats"] },
  },
  {
    title: "Replay Renamer",
    source: "tool",
    description: "Python script to rename replays.",
    url: "https://gist.github.com/acarapetis/b5e9cf199ea2a468ace2f756ac287268",
    image_url: replayRenamerImage.src,
    metadata: { external: true, tags: ["Replays"] },
  },
  {
    title: "B.O.B. Discord Bot",
    source: "tool",
    description: "Discord Commands for searching players, the leaderboard, and more.",
    url: "https://github.com/joshleblanc/stormgate-world-discord",
    image_url: bobBotImage.src,
    metadata: { external: true, tags: ["Discord"] },
  },
]
---

<Layout title="Tools">
  <Header title="Tools and Projects" section="Community" />
  <Section>
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      {toolsContent.map((c) => <Card data={c} />)}
    </div>
  </Section>
</Layout>
