---
export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<div class="rounded-2xl bg-gray-700 p-6 sm:p-8">
  <div class="flex items-center gap-5">
    <h3 class="flex-auto font-display text-2xl font-bold text-white/40">
      {title}
    </h3>
  </div>
  <div class="mt-4">
    <slot />
  </div>
</div>
