---
export interface Props {
  title?: string
}

const { title } = Astro.props
---

<div class="rounded-xl bg-gray-900/80 border border-gray-600/50 p-6 sm:p-6 backdrop-blur-md">
  <div class="flex items-center gap-5">
    <h3 class="flex-auto font-display text-2xl font-bold text-gray-200">
      {title}
    </h3>
  </div>
  <div class="mt-4">
    <slot />
  </div>
</div>
