---
---

<footer class="mt-8 border-t border-white/10 py-6">
  <div class="mx-auto">
    <nav class="flex columns-2 justify-center space-x-10 sm:space-x-12" aria-label="Footer">
      <div class="pb-6">
        <a href="/tldr" class="text-sm leading-6 text-gray-100 hover:text-white">TL;DR</a>
      </div>
      <div class="pb-6">
        <a href="/about" class="text-sm leading-6 text-gray-100 hover:text-white">About</a>
      </div>
      <div class="pb-6">
        <a
          href="https://twitter.com/StormgateWorld"
          target="_blank"
          class="text-sm leading-6 text-gray-100 hover:text-white"
        >
          <i class="ti ti-brand-twitter-filled"></i>
          Twitter
        </a>
      </div>
      <div class="pb-6">
        <a href="/rss.xml" target="_blank" class="text-sm leading-6 text-gray-100 hover:text-white">
          <i class="ti ti-rss"></i>
          RSS Feed
        </a>
      </div>
    </nav>
    <p class="mt-2 px-4 text-center text-sm leading-5 text-gray-300">
      Stormgate World is a fan-made website and not affiliated with
      <a href="https://playstormgate.com/" class="hover:underline">Stormgate</a>
      or
      <a href="https://frostgiant.com/" class="hover:underline">Frost Giant Studios</a>.
    </p>
  </div>
</footer>
