---
---

<div class="px-4 py-5 sm:p-6">
  <h3 class="text-base font-semibold leading-6 text-white">Subscribe to Stormgate news</h3>
  <div class="mt-2 max-w-xl text-md text-white/80">
    <p>Receive important news, curated digests and more in your inbox.</p>
  </div>
  <form
    class="mt-5 sm:max-w-s relative"
    method="POST"
    action="https://a23f8f26.sibforms.com/serve/MUIEAN2wfmnNojUs5aYtmc88WmQ5g7Ix9vdfnJ23njOhEAs9WZe4hohlHv2Jb-JcOXZcfkJbre2DvQ_-Z-tg8Y0T1aMQOLAi1qVFc9WdGaUXQ5Npc1VYBBatFK2UbB2wtd0I1q_smM2XhG83g8ibkRldf6dNJPJ1RqPdIX5hfHtpk0VJ_D58mbjkqyrTSCkWkRVuAhEGaSVMg1Xw"
    target="_blank"
  >
    <div class="w-full">
      <label for="email" class="sr-only">Email</label>
      <input
        type="email"
        name="EMAIL"
        id="email"
        class="bg-transparent block w-full py-3 px-4 pr-40 border-b font-semibold border-white/60 focus:border-white transition-colors placeholder-white/60 focus:outline-none"
        placeholder="you@example.com"
        required
      />
    </div>
    <input type="text" name="email_address_check" value="" class="hidden" />
    <input type="hidden" name="locale" value="en" />
    <input type="hidden" name="html_type" value="simple" />
    <button
      type="submit"
      class="absolute top-0 right-0 w-36 h-10 rounded-full font-semibold text-black bg-gradient-to-b from-[#FF8E00] to-[#FFC100] block focus:outline-none focus:ring-inset focus:ring-2 focus:ring-black/30 transition-colors"
      >Subscribe</button
    >
  </form>
</div>
