---
export interface Props {
  title?: string
  label?: string
}

const { title, label } = Astro.props
---

<div class="relative overflow-auto rounded-lg border border-gray-800/80 bg-gray-800/30 p-3 backdrop-blur-md sm:p-4">
  <div class="sticky left-0 top-0 flex flex-wrap items-center gap-x-5 gap-y-1">
    <h3 class="font-display flex-auto text-lg font-bold text-gray-200">
      {title}
    </h3>
    <p class="text-md font-bold text-gray-400">
      {label}
    </p>
  </div>
  <div class="mt-3 md:mt-4">
    <slot />
  </div>
</div>
