---
import { styles } from "../lib/theme"

export interface Props {
  title?: string
  label?: string
}

const { title, label } = Astro.props
---

<div class:list={[styles.box.base, "relative overflow-auto p-3 sm:p-4"]}>
  <div class="sticky left-0 top-0 flex flex-wrap items-center gap-x-5 gap-y-1">
    <h3 class="font-display flex-auto text-base font-bold text-gray-300">
      {title}
    </h3>
    <p class="text-sm font-bold text-gray-500">
      {label}
    </p>
  </div>
  <div class="mt-3 md:mt-4">
    <slot />
  </div>
</div>
