---
import { renderRichText } from "@storyblok/astro"

const { blok } = Astro.props
const text = renderRichText(blok.text)
---

<!-- nicely styled tailwind article -->
<article class="prose prose-lg mt-8">
  <h1 class="text-xl text-white">{blok.title}</h1>
  <h2 class="text-lg text-white">{blok.description}</h2>
  <h3 class="text-lg text-gray-100">{blok.teaser}</h3>
  <div class="text-gray-200">
    <Fragment set:html={text} />
  </div>
</article>
