---
import { useStoryblokApi } from "@storyblok/astro"

const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get("cdn/stories/", {
  // version: import.meta.env.DEV ? "draft" : "published",
  version: "draft",
  content_type: "blog-post",
})

const articles = data.stories.map((story: any) => {
  return {
    name: story.name,
    slug: `/debug/storyblok/${story.full_slug}`,
  }
})
---

<ul>
  {
    articles.map((article: any) => (
      <li>
        <a href={article.slug}>{article.name}</a>
      </li>
    ))
  }
</ul>
