---
import "@fontsource-variable/montserrat"
import "@fontsource/sen/400.css"
import "@fontsource/sen/700.css"

import Footer from "../components/Footer.astro"

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="scroll-pt-24">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.22.0/tabler-icons.min.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title ? `${title} - Stormgate World` : "Stormgate World"}
    </title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V5SFFY7NM1"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())
      gtag("config", "G-V5SFFY7NM1")
    </script>
  </head>
  <body class="bg-body text-body font-body scroll-pt-24 bg-gray-900 text-white antialiased">
    <div class="relative z-10 w-full border-b border-white/20">
      <nav class="mx-auto flex h-20 max-w-screen-2xl items-center gap-4 px-4 font-display sm:gap-12">
        <a href="/" class="text-xl font-bold"> Stormgate World</a>
        <a href="/social" class="font-medium hover:underline">Social Feed</a>
        <a href="/creators" class="font-medium hover:underline">Creators</a>
        <a href="/tldr" class="font-medium hover:underline">TL;DR</a>
        <div class="flex-auto"></div>
        <a
          href="https://playstormgate.com"
          target="_blank"
          class="hidden rounded-full border-white bg-white px-6 py-2 text-sm font-bold text-black transition hover:bg-gray-100 sm:block"
          data-class="bg-white rounded-full text-sm mr-4 px-6 py-2 border text-black my-6 inline-block font-bold border-white hover:bg-gray-100 transition"
        >
          Sign up for beta
        </a>
      </nav>
    </div>
    <slot />
    <Footer />
  </body>
</html>
