---
import type { MarkdownLayoutProps } from "astro";
import Layout from "./Layout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
}>;
const { title } = Astro.props.frontmatter;
---

<Layout title={title}>
  <section class="container relative mx-auto my-12 px-4">
    <div class="prose prose-invert text-white prose-headings:font-display">
      <slot />
    </div>
  </section>
</Layout>
