---
import type { MarkdownLayoutProps } from "astro"
import Layout from "./Layout.astro"
import Header from "../components/layout/Header.astro"
import HeaderContent from "../components/layout/HeaderContent.astro"
import { styles } from "../lib/theme"

type Props = MarkdownLayoutProps<{
  title: string
}>
const { title } = Astro.props.frontmatter
---

<Layout title={title}>
  <Header title={title} />
  <section
    <div
    class:list={[
      styles.layout.container,
      styles.layout.containerPadding,
      "relative mx-auto my-12 flex flex-wrap gap-12 px-4 md:flex-nowrap",
    ]}
  >
    <div>
      <ul class="sticky top-20 min-w-48">
        <li class="mb-4 text-2xl font-bold text-white">Contents</li>
        {
          Astro.props.headings.map((heading) => {
            return (
              heading.depth > 1 &&
              heading.depth < 4 && (
                <li>
                  <a
                    href={`#${heading.slug}`}
                    class:list={[
                      "block text-gray-100 hover:text-white transition-colors duration-200 my-2",
                      heading.depth === 3 && "ml-4",
                    ]}
                  >
                    {heading.text}
                  </a>
                </li>
              )
            )
          })
        }
      </ul>
    </div>
    <div class="prose prose-invert max-w-prose text-white prose-headings:font-bold prose-h1:font-extrabold">
      <slot />
    </div>
  </section>
</Layout>
